[submodule "lib/rtos/freeRTOS"]
	path = lib/rtos/freeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
[submodule "lib/usb/STusb"]
	path = lib/usb/STusb
	url = https://github.com/STMicroelectronics/stm32_mw_usb_device.git
